body {
    font-family: 'Nunito', sans-serif;;
}


.hero.is-light{
    background-color: #e6e6e6;
    color: #363636;
}



.card.sponsors {
    background-color: transparent;
    box-shadow: none;
}

.card.sponsors img
{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);

    transition:all 0.5s ease;

}

.card.sponsors img:hover
{
    -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);

    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

footer a
{
    margin-right: 9px;
    margin-left: 9px;
}


footer .social

{
    margin-top: 30px;
}

footer .social .fab
{
    transition-duration: .25s;
}

footer .social .fab:hover
{
    color: #679bef;
}

.copyright
{
    margin-top: 25px;
    font-size: 14px;
}