body {
    font-family: 'Nunito', sans-serif;;
}


.hero.is-light{
    background-color: #e6e6e6;
    color: #363636;
}

.hero.is-small {

    padding-bottom: 0px;
    padding-top: 0px;

}

.hero.is-small .hero-body {

    padding-bottom: 0px;
    padding-top: 0px;

}


.hero.is-small .hero-body .column {

    padding-bottom: 0px;
    padding-top: 0px;

}


.card.sponsors {
    background-color: transparent;
    box-shadow: none;
}

.card.sponsors img

{

}

footer a
{
    margin-right: 9px;
    margin-left: 9px;
}


footer .social

{
    margin-top: 30px;
}

footer .social .fab
{
    transition-duration: .25s;
}

footer .social .fab:hover
{
    color: #679bef;
}

.copyright
{
    margin-top: 25px;
    font-size: 14px;
}