.has-background-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.mb-15 {
    margin-bottom: 15px;
}

.mt-15 {

    margin-top: 15px;
}

.mr-15 {

    margin-right: 15px;
}


.mt-45 {
    margin-top: 45px;
}

.legal {
    margin-bottom: 15px;
    font-size: 13px;"
}